<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>简体中文</key>
	<string>凤凰台上凤凰游，凤去台空江自流。
吴宫花草埋幽径，晋代衣冠成古丘。
三山半落青天外，二水中分白鹭洲。
总为浮云能蔽日，长安不见使人愁。</string>
	<key>繁體中文</key>
	<string>飛雪連天射白鹿,笑書神俠倚碧鴛</string>
	<key>English</key>
	<string>e hold these truths to be self-evident, that all men are created equal, that they are endowed by their Creator with certain unalienable Rights, that among these are Life, Liberty, and the pursuit of Happiness.</string>
	<key>Deutsch</key>
	<string>Sonne kann nicht ohne Schein, Mensch nicht ohne Liebe sein.</string>
	<key>русский язык</key>
	<string>где есть жизнь, есть счастье</string>
	<key>Le français</key>
	<string>Je ne suis pas d&apos;accord avec ce que vous dites, mais je me battrai jusqu&apos;à la mort pour que vous ayez le droit de le dire.</string>
</dict>
</plist>
